<div class="border border-green-700 p-3 m-7">
  <p class="font-medium text-green-700">
    This is a Parent component Block with green color
  </p>
  <button type="button"
    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    (click)="setCategoryName()">
    Pass Data to child <code>(category_name = 'Novel')</code>
  </button>








  <ng-template [ngIf]="student_name" [ngIfElse]="showNodata">
    <p> child component work</p>
    <app-article [category_name]="data_to_child" (liked)="getDataFromChild($event)" #article_ref>
      <a href="#"
        class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          Noteworthy technology acquisitions 2021
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so far,
          in reverse chronological order.
        </p>
      </a>
    </app-article>
  </ng-template>
  <ng-template #showNodata> No child component</ng-template>















  <div>
    <h3 class="text-green-700 font-bold">Data I get from child :</h3>
    <span class="text-rose-700">{{ data_from_child }}</span>
    <span class="text-rose-700">{{ student_name }}</span>
  </div>
</div>
